<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <meta charset="UTF-8">
    <title>Acceptance</title>
</head>
<body>
<div th:insert="navbars/checkmanNav.html"></div>
<div class="container mt-5">
    <form action="/acceptance" method="post">
        <select class="form-control form-group" name="selectId" id="selectId">
            <option value="">Выберите продукт</option>
            <option
                    th:each="product : ${products}"
                    th:value="${product.id}"
                    th:selected="${product.description}"
                    th:text="${product.description}">
            </option>
        </select>
        <div class="form-group">
            <label>
                <input type="number" class="form-control" min="1" step="1"
                       required name="quantity"
                       placeholder="Количество">
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    <div th:insert="bootstrap/bootstrapJS.html"></div>
</div>
</body>
</html>