<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <title>Add product</title>
</head>

<body>
<div th:insert="navbars/checkmanNav.html"></div>

<div class="container mt-5">

    <form action="/addProduct" method="post">
        <div class="form-group">
            <label>
                <input type="text" class="form-control" required name="description" placeholder="Описание">
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

    <div th:insert="bootstrap/bootstrapJS.html"></div>

</div>
</body>
</html>