<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <meta charset="UTF-8">
    <title>Checkman create</title>
</head>

<body>
<div th:insert="navbars/adminNav.html"></div>
<div class="container mt-5">

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <form th:action="'/checkman/create'" method="post">
        <div class="form-group">
            <label>
                <input type="text" class="form-control" required name="username" placeholder="Логин">
            </label>
        </div>

        <div class="form-group">
            <label>
                <input type="text" class="form-control" required name="password" placeholder="Пароль">
            </label>
        </div>

        <div class="form-group">
            <label>
                <input type="text" class="form-control" required name="fullName" placeholder="Имя">
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>

    <div th:insert="bootstrap/bootstrapJS.html"></div>

</div>
</body>
</html>




