<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <meta charset="UTF-8">
    <title>Products list</title>
</head>

<body>

<div th:insert="navbars/checkmanNav.html"></div>

<div class="container mt-5">
    <div>

        <table class="table table-light">
            <thead class="thead-light">
            <tr>
                <th>Описание</th>
                <th>Количество</th>
                <th>Редактирование</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:utext="${product.getValue}">Описание</td>
                <td th:utext="${product.getKey}">Количество</td>
                <td><a th:href="'/product/'+${product.getValue()}+'/edit'" class="btn btn-light">Редактировать</a></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:insert="fragments/copyright"></div>
</div>
<div th:insert="bootstrap/bootstrapJS.html"></div>
</body>
</html>