<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>

    <div th:insert="bootstrap/bootstrapCSS.html"></div>
</head>

<div class="container mt-5">
    <body>
    <div class="alert alert-danger notification" role="alert" th:if="${param.error}">
        <p> Неверный логин или пароль</p>

    </div>
    <div class="alert alert-danger notification" role="alert" th:if="${param.logout}">
        <p> Вы вышли из аккаунта</p>

    </div>

    <div th:if="${existedUsername != null}" class="alert alert-danger notification" role="alert">
        <p> Пользователь уже существует</p>
    </div>

    <form th:action="@{/registration}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" required name="username" placeholder="Логин">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" required  name="fullName" placeholder="ФИО">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" required name="password" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-primary" value="Sign In">Вход</button>
    </form>

    <div><a href="registration">Add new user</a></div>

    <div th:insert="bootstrap/bootstrapJS.html"></div>

    </body>
</div>
</html>