<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <meta charset="UTF-8">
    <title>Unchecked Order list</title>
</head>
<body>

<div th:insert="navbars/checkmanNav.html"></div>

<div class="container mt-5">

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Код</th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Адрес</th>
                <th>Пользователь</th>
                <th>Подтверждение</th>
                <th>Отклонение</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:utext="${order.id}"></td>
                <td th:utext="${order.product.description}"></td>
                <td th:utext="${order.quantity}"></td>
                <td th:utext="${order.address}"></td>
                <td th:utext="${order.user.fullName}"></td>
                <td>
                    <form action="/order/confirm" method="post">
                        <input type="hidden" name="orderId" th:value="${order.id}">
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </form>
                </td>

                <td>
                    <form action="/order/decline" method="post">
                        <input type="hidden" name="orderId" th:value="${order.id}">
                        <button type="submit" class="btn btn-danger">Отклонить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:insert="bootstrap/bootstrapJS.html"></div>
    </div>
</div>

</body>
</html>