<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="bootstrap/bootstrapCSS.html">
    <meta charset="UTF-8">
    <title>User list</title>
</head>

<body>

<div th:insert="navbars/adminNav.html"></div>

<div class="container my-5">
    <div>
        <form action="/findUser" method="post" class="row my-1">
            <div class="text-right col-md-6">
                <input type="text" class="form-control" name="filter" placeholder="Поиск по имени" aria-label="Search">
            </div>
            <div class="text-left col">
                <button type="submit" class="btn btn-primary ">Поиск</button>
            </div>
        </form>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Пароль</th>
                <th>Роль</th>
                <th>Редактирование</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:utext="${user.username}"></td>
                <td th:utext="${user.fullName}"></td>
                <td th:utext="${user.password}"></td>
                <td th:utext="${user.roles}"></td>
                <td><a th:href="'/user/' + ${user.id}+'/edit'" class="btn btn-outline-primary btn-sm">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:insert="fragments/copyright"></div>
</div>

<div th:insert="bootstrap/bootstrapJS.html"></div>
</body>
</html>